main {
  width: 90%;
  margin: auto;
}

.entry-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;

}
.list {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list-items {
  min-width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid rgb(112, 11, 11);
  padding: 0.5em;
  margin-top: 2em;
  border-radius: 10px;
  color: rgb(112, 11, 11);
}

.item-name {
  font-size: 2.5rem;
}

.list-btns  {
  border: 1px solid black;
  padding: 2px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 10em;
}

.item-quan {
  font-size: 1.2rem;
}